* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--color-black: #222222;
	--color-white: #ffffff;
	--color-purple: #7247ca;
	--color-light-grey-1: #eaeaee;
	--color-light-grey-2: #f5f5f7;
	--color-grey: #979797;
	--color-dark-grey: #555555;
	--color-red: #b00020;
	--color-green: #4bb543;
}

body {
	font-family: 'Source Serif Pro', serif;
}

a {
	color: var(--color-purple);
	text-decoration: none;
}

ul {
	list-style-type: none;
}

h1,
h2 {
	font-size: 26px;
	font-weight: 600;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	color: var(--color-black);
}
